html{
    scroll-behavior: smooth;
}
#image{
    width: 150px;
    height: 90px;
  border: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image2{
    width: 190px;
    height: 364px;
    
    

}
#round{
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(to bottom right,rgb(136, 136, 201),rgb(201, 201, 103));

}
#image3{
    width: 50px;
    height: 50px;
    
}
#feature{
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom right,rgb(138, 138, 212),rgb(219, 219, 134));
    flex-wrap: wrap;
}
#image4{
    height: 300px;
    width: 300px;
}